#podcasts {
	padding-bottom:3rem;
	ul {
		padding-left:0;
		margin:0;
		list-style: none;
		li {
			width:23%;
			float: left;
			margin: 0 1% 2rem 1%;
			box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25);
			border-radius: .5rem;
			img {
				width:100%;
				max-width: 100%;
				border-radius: .5rem .5rem 0 0;
			}
			.podcast_overview {
				padding:1rem 7.5%;
				h2 {
					margin:0;
					font-size: 1rem;
					font-weight: 700;
					color:$dark;
				}
				.episode_count {
					color: lighten($dark, 30%);
					font-size:.9rem;
					margin : .5rem 0 .25rem 0;
				}
			}
		}
		a:hover {
			img {
				opacity: .8;
			}
			.podcast_overview {
				h2{
					color:$highlight;	
				}
			}
		}
		// &:hover {
		// 	img {
		// 		opacity: .8;
		// 	}
		// 	.podcast_overview {
		// 		h2{
		// 		color:$highlight;	
		// 		}
		// 	}
		// }
	}
}

#podcast_show {
	#show_banner {
		background: $dark;
		padding:5rem 0;
		text-align: center;
		h1 {
			font-weight: 300;
			font-size: 2.5rem;
			color:$white;
			margin:0 0 .5rem 0;
		}
		#description {
			width:85%;
			line-height: 1.75;
			margin:0 auto 2rem auto;
			color:lighten($dark, 30);
		}
		.subscribe_button {
			font-size: .7rem;
			text-transform: uppercase;
			text-decoration: none;
			color:$white;
			background:$highlight;
			padding:.5rem 1rem;
			margin:0 .5rem;
			border-radius:2rem;
			display: inline;
			font-weight: 700;
		}
	}
	#breadcrumb {
		padding:1rem 0;
		text-align: center;
		border-bottom:1px solid lighten($dark, 75);
		font-weight: 700;
		font-size: .7rem;
		a {
			text-decoration: none;
			color:lighten($dark, 40);
		}
			span {
				padding:0 1rem;
			}
	}
}

#episodes {
	padding:0;
	ul {
		list-style:none;
		padding-left:0;
		li {
			padding-bottom: 2rem;
			border-bottom: 1px solid lighten($dark,60);
			margin-bottom: 2rem;
			&:last-child {
				border-bottom:none;
			}
			.episode_thumbnail {
				width:25%;
				float: left;
				img {
					width:9rem;
					max-width: 100%;
					border-radius:.35rem;
					margin-top: .5rem;
				}
			}
			.episode_overview {
				width: 70%;
				float: left;
				margin-left: 5%;
				h2 {
					a {
						color:$dark;
						text-decoration: none;
					}
				}
				.description {
					color: lighten($dark, 25);
				}
				.authorized_links {
					font-weight: 700;
					font-size: .9rem;
					a {
						color:$highlight;
						text-decoration: none;
						margin-right: 1rem;
					}
				}
			}
		}
	}
}
#episode_content {
		padding:3rem 0;
		margin-bottom: 3rem;
		border-bottom: 1px solid lighten($dark,60);
		.current_episode_thumbnail {
			display: block;
			border-radius: .35rem;
			width:10rem;
			max-width: 100%;
			margin:0 auto;
		}
		h2 {
			font-size: 1.5rem;
			text-align: center;
		}
		.description {
			margin:0 auto;
			font-size: .9rem;
			line-height: 1.7;
			color: lighten($dark, 25);
			text-align: center;
		}
}
#links {
	padding: 0;
	ul {
		padding-left:0;
		margin:0;
		text-decoration: none;
		padding:3rem 0;
		border-bottom: 1px solid lighten($dark,60);
		list-style: none;
		text-align: center;
		li{
			display: inline;
			margin-right: 1rem;
			font-weight: 700;

			a {
				text-decoration: none;
				color:$dark;
				&:hover {
					color: $highlight;
				}
			}
		}
		.current {
			color:$highlight;
		}
	}
}